html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.section_our_solution .row {
    align-items: center;
}

.our_solution_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    .our_solution_category .solution_cards_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

.solution_cards_box .solution_card {
    flex: 0 50%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 8px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 265px;
    transition: 0.7s;
}

    .solution_cards_box .solution_card:hover {
        background: #309df0;
        color: #fff;
        transform: scale(1.1);
        z-index: 9;
    }

        .solution_cards_box .solution_card:hover::before {
            background: rgb(85 108 214 / 10%);
        }

        .solution_cards_box .solution_card:hover .solu_title h3,
        .solution_cards_box .solution_card:hover .solu_description p {
            color: #fff;
        }

    .solution_cards_box .solution_card:before {
        content: "";
        position: absolute;
        background: rgb(85 108 214 / 5%);
        width: 170px;
        height: 400px;
        z-index: -1;
        transform: rotate(42deg);
        right: -56px;
        top: -23px;
        border-radius: 35px;
    }

    .solution_cards_box .solution_card:hover .solu_description button {
        background: #fff !important;
        color: #309df0;
    }

.solution_card .so_top_icon {
}

.solution_card .solu_title h3 {
    color: #212121;
    font-size: 1.3rem;
    margin-top: 13px;
    margin-bottom: 13px;
}

.solution_card .solu_description p {
    font-size: 15px;
    margin-bottom: 15px;
}

.solution_card .solu_description button {
    border: 0;
    border-radius: 15px;
    background: linear-gradient( 140deg, #42c3ca 0%, #42c3ca 50%, #42c3cac7 75% ) !important;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
}

.our_solution_content h1 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.our_solution_content p {
}

.hover_color_bubble {
    position: absolute;
    background: rgb(54 81 207 / 15%);
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
    top: 0rem;
}

.solution_cards_box .solution_card .so_top_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .solution_cards_box .solution_card .so_top_icon img {
        width: 40px;
        height: 50px;
        object-fit: contain;
    }

/*start media query*/
@media screen and (min-width: 320px) {
    .sol_card_top_3 {
        position: relative;
        top: 0;
    }

    .our_solution_category {
        width: 100%;
        margin: 0 auto;
    }

        .our_solution_category .solution_cards_box {
            flex: auto;
        }
}

@media only screen and (min-width: 768px) {
    .our_solution_category .solution_cards_box {
        flex: 1;
    }
}

@media only screen and (min-width: 1024px) {
    .sol_card_top_3 {
        position: relative;
        top: -3rem;
    }

    .our_solution_category {
        width: 50%;
        margin: 0 auto;
    }
}
.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.darken-grey-text {
    color: #2E2E2E;
}
h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    margin: 0 0 30px 0;
}

#fh5co-main {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

    #fh5co-main .fh5co-narrow-content {
        position: relative;
        width: 80%;
        margin: 0 auto;
        padding: 4em 0;
    }

.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1) !important;
    height: 54px !important;
    font-size: 18px;
    font-weight: 300;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px !important;
}

#message {
    height: 130px !important;
}

.btn.btn-md {
    padding: 10px 25px !important;
}

.btn-primary {
    background: #da1212 !important;
    color: #fff !important;
    border: 2px solid #da1212 !important;
    border-radius: 0px !important;
}
/*booking css page start*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    box-sizing: border-box;
}

body {
   /* display: flex;*/
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f7f8fc;
    font-family: "Roboto", sans-serif;
    color: #10182f;
}

.container {
    display: flex;
    width: 1040px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
}

.card-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
}

.tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.tag-teal {
    background-color: #47bcd4;
}

.tag-purple {
    background-color: #5e76bf;
}

.tag-pink {
    background-color: #cd5b9f;
}

.card-body p {
    font-size: 13px;
    margin: 0 0 40px;
}

.user {
    display: flex;
    margin-top: auto;
}

    .user img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

.user-info h5 {
    margin: 0;
}

.user-info small {
    color: #545d7a;
}

/*booking page css end*/
.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.darken-grey-text {
    color: #2E2E2E;
}
* {
    box-sizing: border-box;
}

#parent {
    color: #fff;
    padding: 20px;
    width: 100%;
    background-color: tomato;
    text-align: center;
}

.fab {
    padding: 20px;
    font-size: 30px;
    color: #fff;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
head, body {
    background-color: lightcyan
}

.card {
    cursor: pointer
}

.hd {
    font-size: 25px;
    font-weight: 550
}

.card.hover, .card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2)
}

.img {
    
    margin-bottom: 35px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222)
}

.card-title {
    font-weight: 600
}

button.focus, button:focus {
    outline: 0;
    box-shadow: none !important
}

.ft {
    margin-top: 25px
}

.chk {
    margin-bottom: 5px
}

.rck {
    margin-top: 20px;
    padding-bottom: 15px
}
h1,
h2,
h3,
h4,
h5,
h6 {
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

    a,
    a:active,
    a:focus {
        color: #333;
        text-decoration: none;
        transition-timing-function: ease-in-out;
        -ms-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-duration: .2s;
        -ms-transition-duration: .2s;
        -moz-transition-duration: .2s;
        -webkit-transition-duration: .2s;
        -o-transition-duration: .2s;
    }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

span, a, a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.section-head {
    margin-bottom: 60px;
}

    .section-head h4 {
        position: relative;
        padding: 0;
        color: #f91942;
        line-height: 1;
        letter-spacing: 0.3px;
        font-size: 34px;
        font-weight: 700;
        text-align: center;
        text-transform: none;
        margin-bottom: 30px;
    }

        .section-head h4:before {
            content: '';
            width: 60px;
            height: 3px;
            background: #f91942;
            position: absolute;
            left: 0px;
            bottom: -10px;
            right: 0;
            margin: 0 auto;
        }

        .section-head h4 span {
            font-weight: 700;
            padding-bottom: 5px;
            color: #2f2f2f
        }

p.service_text {
    color: #cccccc !important;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.section-head p, p.awesome_line {
    color: #818181;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.extra-text {
    font-size: 34px;
    font-weight: 700;
    color: #2f2f2f;
    margin-bottom: 25px;
    position: relative;
    text-transform: none;
}

    .extra-text::before {
        content: '';
        width: 60px;
        height: 3px;
        background: #f91942;
        position: absolute;
        left: 0px;
        bottom: -10px;
        right: 0;
        margin: 0 auto;
    }

    .extra-text span {
        font-weight: 700;
        color: #f91942;
    }

.item {
    background: #fff;
    text-align: center;
    padding: 30px 25px;
    -webkit-box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    border: 5px solid rgba(0, 0, 0, 0.07);
    margin-bottom: 30px;
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}

    .item:hover {
        background: #f91942;
        box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.2);
        -webkit-transition: all .5s ease 0;
        transition: all .5s ease 0;
        transition: all 0.5s ease 0s;
    }

        .item:hover .item, .item:hover span.icon {
            background: #fff;
            border-radius: 10px;
            -webkit-transition: all .5s ease 0;
            transition: all .5s ease 0;
            transition: all 0.5s ease 0s;
        }

        .item:hover h6, .item:hover p {
            color: #fff;
            -webkit-transition: all .5s ease 0;
            transition: all .5s ease 0;
            transition: all 0.5s ease 0s;
        }

    .item .icon {
        font-size: 40px;
        margin-bottom: 25px;
        color: #f91942;
        width: 90px;
        height: 90px;
        line-height: 96px;
        border-radius: 50px;
    }

    .item .feature_box_col_one {
        background: rgba(247, 198, 5, 0.20);
        color: #f91942
    }

    .item .feature_box_col_two {
        background: rgba(255, 77, 28, 0.15);
        color: #f91942
    }

    .item .feature_box_col_three {
        background: rgba(0, 147, 38, 0.15);
        color: #f91942
    }

    .item .feature_box_col_four {
        background: rgba(0, 108, 255, 0.15);
        color: #f91942
    }

    .item .feature_box_col_five {
        background: rgba(146, 39, 255, 0.15);
        color: #f91942
    }

    .item .feature_box_col_six {
        background: rgba(23, 39, 246, 0.15);
        color: #f91942
    }

    .item p {
        font-size: 15px;
        line-height: 26px;
    }

    .item h6 {
        margin-bottom: 20px;
        color: #2f2f2f;
    }

.mission p {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 28px;
    font-weight: 500;
}

.mission i {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #f91942;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
}

.mission .small-text {
    margin-left: 10px;
    font-size: 13px;
    color: #666;
}

.skills {
    padding-top: 0px;
}

    .skills .prog-item {
        margin-bottom: 25px;
    }

        .skills .prog-item:last-child {
            margin-bottom: 0;
        }

        .skills .prog-item p {
            font-weight: 500;
            font-size: 15px;
            margin-bottom: 10px;
        }

        .skills .prog-item .skills-progress {
            width: 100%;
            height: 10px;
            background: #e0e0e0;
            border-radius: 20px;
            position: relative;
        }

            .skills .prog-item .skills-progress span {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                background: #f91942;
                width: 10%;
                border-radius: 10px;
                -webkit-transition: all 1s;
                transition: all 1s;
            }

                .skills .prog-item .skills-progress span:after {
                    content: attr(data-value);
                    position: absolute;
                    top: -5px;
                    right: 0;
                    font-size: 10px;
                    font-weight: 600;
                    color: #fff;
                    background: rgba(0, 0, 0, 0.9);
                    padding: 3px 7px;
                    border-radius: 30px;
                }
/* color:  red#ec1c24, black#212d31, grey#343a40, white#eee  */
* {
    box-sizing: border-box;
}

body {
    padding: 1rem;
    color: #212d31;
    font-family: 'Roboto', sans-serif;
}

.contain {
    background-color: #eee;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

div.form {
    background-color: #eee;
}

.contact-wrapper {
    margin: auto 0;
}

.submit-btn {
    float: left;
}

.reset-btn {
    float: right;
}

.form-headline:after {
    content: "";
    display: block;
    width: 10%;
    padding-top: 10px;
    border-bottom: 3px solid #ec1c24;
}

.highlight-text {
    color: #ec1c24;
}

.hightlight-contact-info {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;
}

.highlight-text-grey {
    font-weight: 500;
}

.email-info {
    margin-top: 20px;
}

::-webkit-input-placeholder { /* Chrome */
    font-family: 'Roboto', sans-serif;
}

.required-input {
    color: black;
}

@media (min-width: 600px) {
    .contain {
        padding: 0;
    }
}

h3,
ul {
    margin: 0;
}

h3 {
    margin-bottom: 1rem;
}

.form-input:focus,
textarea:focus {
    outline: 1.5px solid #ec1c24;
}

.form-input,
textarea {
    width: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

.wrapper > * {
    padding: 1em;
}

@media (min-width: 700px) {
    .wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

        .wrapper > * {
            padding: 2em 2em;
        }
}

ul {
    list-style: none;
    padding: 0;
}

.contacts {
    color: #212d31;
}

.form {
    background: #fff;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

    form label {
        display: block;
    }

    form p {
        margin: 0;
    }

.full-width {
    grid-column: 1 / 3;
}

button,
.submit-btn,
.form-input,
textarea {
    padding: 1em;
}

button, .submit-btn {
    background: transparent;
    border: 1px solid #ec1c24;
    color: #ec1c24;
    border-radius: 15px;
    padding: 5px 20px;
    text-transform: uppercase;
}

    button:hover, .submit-btn:hover,
    button:focus, .submit-btn:focus {
        background: #ec1c24;
        outline: 0;
        color: #eee;
    }

.error {
    color: #ec1c24;
}
.booking-d{
    height:180px;
    width:400px;
  
    
}
.Main-div {
    height: auto;
    width: 400px;
    background-color: lightgreen;
    border-radius: 25px;
}
Booking-sumary {
    border: 2px solid black;
}
costomer-Info {

    border: 2px solid black;
    margin-left:30px;
    height:auto;
    width:auto;
}

payment-button {
    border: 2px solid black;
    height:10px;
    width:100px;
}
.textbox {
    border-radius: 10px;
   
}
class="submit-button" {
    height:10px;
    width:100px;

}
.register-photo {
    background: #f1f7fc;
    padding: 80px 0
}

    .register-photo .image-holder {
        display: table-cell;
        width: auto;
        background: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=753&q=80);
        background-size: cover
    }

    .register-photo .form-container {
        display: table;
        max-width: 900px;
        width: 90%;
        margin: 0 auto;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)
    }

    .register-photo form {
        display: table-cell;
        width: 400px;
        background-color: #ffffff;
        padding: 40px 60px;
        color: #505e6c
    }

@media (max-width:991px) {
    .register-photo form {
        padding: 40px
    }
}

.register-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
}

.register-photo form .form-control {
    background: transparent;
    border: none;
    color: #61acb3;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px
}

.register-photo form .form-check {
    font-size: 13px;
    line-height: 20px
}

.register-photo form .btn-primary {
    background: #61acb3;
    border: none;
    border-radius: 25px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important
}

    .register-photo form .btn-primary:hover,
    .register-photo form .btn-primary:active {
    }

    .register-photo form .btn-primary:active {
        transform: translateY(1px)
    }

.register-photo form .already {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none
}
body {
    background-color: #f5e0e5 !important;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contact-form-wrapper {
    padding: 100px 0;
}

.contact-form {
    padding: 30px 40px;
    background-color: #ffffff;
    border-radius: 12px;
    max-width: 400px;
}

    .contact-form textarea {
        resize: none;
    }

    .contact-form .form-input,
    .form-text-area {
        background-color: #f0f4f5;
        height: 50px;
        padding-left: 16px;
    }

    .contact-form .form-text-area {
        background-color: #f0f4f5;
        height: auto;
        padding-left: 16px;
    }

    .contact-form .form-control::placeholder {
        color: #aeb4b9;
        font-weight: 500;
        opacity: 1;
    }

    .contact-form .form-control:-ms-input-placeholder {
        color: #aeb4b9;
        font-weight: 500;
    }

    .contact-form .form-control::-ms-input-placeholder {
        color: #aeb4b9;
        font-weight: 500;
    }

    .contact-form .form-control:focus {
        border-color: #f33fb0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #f33fb0;
    }

    .contact-form .title {
        text-align: center;
        font-size: 24px;
        font-weight: 500;
    }

    .contact-form .description {
        color: #aeb4b9;
        font-size: 14px;
        text-align: center;
    }

    .contact-form .submit-button-wrapper {
        text-align: center;
    }

        .contact-form .submit-button-wrapper input {
            border: none;
            border-radius: 4px;
            background-color: #f23292;
            color: white;
            text-transform: uppercase;
            padding: 10px 60px;
            font-weight: 500;
            letter-spacing: 2px;
        }

            .contact-form .submit-button-wrapper input:hover {
                background-color: #d30069;
            }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Inter", sans-serif;
  }
  .formbold-mb-5 {
    margin-bottom: 20px;
  }
  .formbold-pt-3 {
    padding-top: 12px;
  }
  .formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
  }

  .formbold-form-wrapper {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    background: white;
  }
  .formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    margin-bottom: 12px;
  }
  .formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
  }
  .formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #6a64f1;
    color: white;
    cursor: pointer;
  }
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .flex {
    display: flex;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .w-full {
    width: 100%;
  }
@media (min-width: 540px) {
    .sm\:w-half {
        width: 50%;
    }
    /*card slider images css*/
    .sliderimg {
        border: 1px solid;
        height: 100px;
        width: 100px;
    }

    .button {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        display: inline-block;
        margin: 10px;
        border-radius: 4px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    table {
        width: 750px;
        border-collapse: collapse;
        margin: 50px auto;
    }

    /* Zebra striping */
    tr:nth-of-type(odd) {
        background: #eee;
    }

    th {
        background: #3498db;
        color: white;
        font-weight: bold;
    }

    td, th {
        padding: 10px;
        border: 1px solid #ccc;
        text-align: left;
        font-size: 18px;
    }

    /* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
    @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

        table {
            width: 100%;
        }

        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
        }

            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

        tr {
            border: 1px solid #ccc;
        }

        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

            td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                /* Label the data */
                content: attr(data-column);
                color: #000;
                font-weight: bold;
            }
    }
