@page
@model Static_Pages.Pages.servicesModel
@{
}
 <h2>Pickup Point</h2>
    <p>
    Pune
1) Chhatrapati Shivaji Maharaj bus stop (Shivajinagar Pune) In front of Maharashtra Bank - 2) Swargate - 3) Katraj Chowk
  <div id="scroll2">
    <h2>Things To Carry</h2>
    <p>
   <ol>1.Torch (optional)</ol>
   <ol>2.Sweater / Raincoat</ol>
   <ol>3.Good grip trekking shoes</ol>
   <ol>4.2/3 litres of water (Mandatory)</ol>
   <ol>5.Extra pair of clothes</ol>
   <ol>6.Cap or hat</ol>
   <ol>7.Snacks (Energy bars, Chikki, Biscuits, Sprouts, Chips, Dry fruits)</ol>
   <ol>8.Any personal medicines</ol>
   
    </p>
  </div>
  <div id="scroll3">
    <h2>Cost Includes</h2>
    <p>
       <ol>1.Forest Fee</ol>
   <ol>2.Breakfast</ol>
   <ol>3.Breakfast</ol>
   <ol>4.Lunch </ol>
   <ol>5.First Aid</ol>
   <ol>6.Cap or hat</ol>
   <ol>7.Expertise ‍</ol>
   <ol>8.Trek Guide </ol>
    </p>
  </div>
  <div id="scroll4">
    <h2>Time Management</h2>
    
   <ol>3.00 AM Sunday Night journey begins.</ol>
   <ol>06.00 AM  Breakfast and Refreshment</ol>
   <ol>09.00 AM After reached we will take Snaks break</ol>
   <ol>09.30 AM Start the trek(3 hours)</ol>
   <ol>After exploring the Fort we will start our trek back </ol>
   <ol>02.30 PM Lunch (veg / Non Veg)</ol>
   <ol>04.00 PM Depart dor Home</ol>
    <ol>07.30 PM Reach Home with Loads of Memories</ol>
</div >
<div class="booking-d">
    <h2>&nbsp&nbsp&nbspDifficulties in Booking ?</h2>
    <h3>&nbsp&nbsp&nbspCall us, We'll help you</h3>
    <h3>&nbsp&nbsp&nbsp9284437686</h3>

   </div>
    
  </div>
</div>
</div>


<div class="row text-center">

      <!--Grid column-->
      <div class="col-md-6 mb-4">


        <img style="height:500px;width:500px" src="https://monksonwheels.com/wp-content/uploads/2021/05/Family-Like-Support.jpg"
          data-holder-rendered="true">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">
<!-- 
        <h2 class="my-5 h2">With shadow</h2> -->

        <img style="height:500px;width:500px"src="https://www.thehtc.in/wp-content/uploads/2020/03/IMG_20190712_153944-02-600x600.jpeg"
          data-holder-rendered="true">

      </div>
      

    </div>
    <br />
    <br />
    


            <div class="text-center darken-grey-text mb-4">
             <br />
                <a class="btn btn-danger" asp-page="/BookingSummery" target="_blank">click Here For Booking</a>
            </div>