@page
@model Static_Pages.Pages.BookUserModel
@{
}
<body>
	<a href="BookingInfo">
<div class="container">
  <div class="card">
    <div class="card-header">
      <img class="sliderimg" src="~/images/sinhgad.jpg" asp-append-version="true">
    </div>
    <div class="card-body">
      <span class="tag tag-teal">Sinhgad</span>
      <h4>
        <label> sinhgad fort Trek</label>
      </h4>
      <p>
        <label>12-Aug to 14-Aug</label><br>From pune-Mumbai
      </p>
      <div class="user">
        <img src=https://knowindia.india.gov.in/assets/images/national_currency_inner.jpg alt="user" />
        <div class="user-info">
       <label><h5>1200/-</h5></label>
          <small>only</small>
        </div>
      </div>
    </div>
  </div>
  </a>


  <a href="#">
  <div class="card">
    <div class="card-header">
      <img class="sliderimg" src="~/images/lonavla.jpg" asp-append-version="true">
    </div>
    <div class="card-body">
      <span class="tag tag-purple">Lonavla</span>
      <h4>
        Lonavla Hill Station
      </h4>
      <p>
        12-Aug to 14-Aug<br>From pune-Mumbai
      </p>
      <div class="user">
        <img src=https://knowindia.india.gov.in/assets/images/national_currency_inner.jpg alt="user" />
        <div class="user-info">
          <h5>1200/-</h5>
          <small>only</small>
        </div>
      </div>
    </div>
  </div>
</a>

<a href="#">
  <div class="card">
    <div class="card-header">
     <img class="sliderimg" src="~/images/karnala.jpg" asp-append-version="true">
    </div>
    <div class="card-body">
      <span class="tag tag-pink">Karnala Bird sentury</span>
      <h4>
      Nature & wildlife areas
      </h4>
      <p>
      12-Aug to 14-Aug<br>From pune-Mumbai
      </p>
      <div class="user">
        <img src="https://knowindia.india.gov.in/assets/images/national_currency_inner.jpg" alt="user" />
        <div class="user-info">
          <h5>1200/-</h5>
          <small>only</small>
    </div>
   </div>
    </div>
  </div>
  </a>

<!--      second colomn start
 -->
<a href="#">
 <div class="container">
  <div class="card">
    <div class="card-header">
      <img class="sliderimg" src="~/images/devkundwaterfall.jpg" asp-append-version="true">
    </div>
    <div class="card-body">
      <span class="tag tag-teal">Devkund</span>
      <h4>
       Devkund Waterfall Mansoon Special
      </h4>
      <p>
        12-Aug to 14-Aug<br>From pune-Mumbai
      </p>
      <div class="user">
        <img src="https://knowindia.india.gov.in/assets/images/national_currency_inner.jpg" alt="user" />
        <div class="user-info">
          <h5>1200/-</h5>
          <small>only</small>
        </div>
      </div>
    </div>
  </div>
   </a>

   <a href="#">
  <div class="card">
    <div class="card-header">
     <img class="sliderimg" src="~/images/malshejghat.jpg" asp-append-version="true">
    </div>
    <div class="card-body">
      <span class="tag tag-purple">Malshej Ghat</span>
      <h4>
        Amazing waterfalls & Off road Driving..
      </h4>
      <p>
        12-Aug to 14-Aug<br>From pune-Mumbai.
      </p>
      <div class="user">
        <img src="https://knowindia.india.gov.in/assets/images/national_currency_inner.jpg" alt="user" />
        <div class="user-info">
          <h5>1200/-</h5>
          <small>only</small>
        </div>
      </div>
    </div>
  </div>
  </a>

  <a href="#">
  <div class="card">
    <div class="card-header">
     <img class="sliderimg" src="~/images/tamhini.jpg" asp-append-version="true">
    </div>
    <div class="card-body">
      <span class="tag tag-pink">Tamhini Ghat</span>
      <h4>
        Tamhini ghat 1 day trip
      </h4>
      <p>
        12-Aug to 14-Aug<br>From pune-Mumbai
      </p>
      <div class="user">
        <img src="https://knowindia.india.gov.in/assets/images/national_currency_inner.jpg" alt="user" />
        <div class="user-info">
         <h5>1200/-</h5>
          <small>only</small>
    </div>
   </div>
    </div>
  </div>
  </a>

<!--     third colomn start
 -->
<a href="#">
 <div class="container">
  <div class="card">
    <div class="card-header">
    <img class="sliderimg" src="~/images/visapur.jpg" asp-append-version="true">
    </div>
    <div class="card-body">
      <span class="tag tag-teal">Visapur</span>
      <h4>
        Mansoon special Visapur
      </h4>
      <p>
        12-Aug to 14-Aug<br>From pune-Mumbai
      </p>
      <div class="user">
        <img src="https://knowindia.india.gov.in/assets/images/national_currency_inner.jpg" alt="user" />
        <div class="user-info">
          <h5>1200/-</h5>
          <small>only</small>
        </div>
      </div>
    </div>
  </div>
  </a>

  <a href="#">
  <div class="card">
    <div class="card-header">
     <img class="sliderimg" src="~/images/panchagani.jpg" asp-append-version="true">
    </div>
    <div class="card-body">
      <span class="tag tag-purple">Panchgani</span>
      <h4>
        Panchgani Hill station
      </h4>
      <p>
        12-Aug to 14-Aug<br>From pune-Mumbai
      </p>
      <div class="user">
        <img src="https://knowindia.india.gov.in/assets/images/national_currency_inner.jpg" alt="user" />
        <div class="user-info">
          <a href=""><h5>1200/-</h5></a>
          <small>only</small>
        </div>
      </div>
    </div>
  </div>
  </a>

  <a href="#">
  <div class="card">
    <div class="card-header">
     <img class="sliderimg" src="~/images/matheran.jpg" asp-append-version="true">
    </div>
    <div class="card-body">
      <span class="tag tag-pink">Matheran</span>
      <h4>
        Mansoon special matheran
      </h4>
      <p>
       12-Aug to 14-Aug<br>From pune-Mumbai
      </p>
      <div class="user">
        <img src="https://knowindia.india.gov.in/assets/images/national_currency_inner.jpg" alt="user" />
        <div class="user-info">
          <h5>1200/-</h5>
          <small>only</small>
    </div>
   </div>
    </div>
  </div>
   </a>
  
</body>