@page
@model Static_Pages.Pages.ForgotPasswordModel
@{
}
<form method="post">
    <div>
        <label for="email">Email:</label>
        <br /> <br />
        <input type="email" id="email" name="Email" />
    </div><br /> <br />
    <button type="submit">Reset Password</button>
</form>