@page
@model Static_Pages.Pages.LoginModel
@{
}
<form method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="Username" />
    </div><br /> <br />
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="Password" />
    </div><br /> <br />
    <button type="submit">Login</button>
    <br /> <br />
     <a href="/ForgotPassword"><button type="submit">Forgot password</button></a>
</form>